#welcome {
  background-color: #c1c1c1;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 300px;
}
#welcome > div {
  font-size: 76px;
}
.content {
  justify-content: center;
  background-color: ;
  flex-wrap: wrap;
  display: flex;
  margin: 20px 0px;
  
}
.content > div {
  margin: 10px 0px;
  padding: 15px;
  background-color: #c1c1c1;
  width: 80%;
}
