#top {
  display: flex;
  flex-wrap: wrap;
  background-color: #1E90FF;
  justify-content: space-between;
}
#top > #left {
  justify-content: flex-start;
  background-color: ;
  flex-wrap: wrap;
  display: flex;
  margin: 5px 10px;
}
#top > #left > a {
  background-color: #f1f1f1;
  padding: 7px;
  margin: 5px 10px 5px 0px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  border-radius: 5px;
}
#top > #right {
  justify-content: flex-end;
  background-color: ;
  flex-wrap: wrap;
  display: flex;
  margin: 5px 10px;
}
#top > #right > a {
  background-color: #f1f1f1;
  padding: 7px;
  margin: 5px 0px 5px 10px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  border-radius: 5px;
  justify-content: center;
}
#top > #left > a:link, #top > #right > a:link {
    text-decoration: none;
}
#top > #left > a:hover, #top > #right > a:hover {
  background-color: #c1c1c1;
}
