#top {
  display: flex;
  flex-wrap: nowrap;
  background-color: #1E90FF;
  justify-content: flex-end;
}
#top > a {
  background-color: #f1f1f1;
  width: 50px;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}
#welcome {
  background-color: #c1c1c1;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 400px;
}
#welcome > div {
  font-size: 76px;
}
